$code: (
  50: #e8e9ea,
  100: #c6c8cb,
  200: #a0a4a9,
  300: #7a8086,
  400: #5e646c,
  500: #414952,
  600: #3b424b,
  700: #323941,
  800: #2a3138,
  900: #1c2128,
  A100: #70a9ff,
  A200: #3d8bff,
  A400: #0a6cff,
  A700: #0060f0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$design: (
  50: #fffbe7,
  100: #fff6c4,
  200: #fff09d,
  300: #ffe976,
  400: #ffe558,
  500: #ffe03b,
  600: #ffdc35,
  700: #ffd82d,
  800: #ffd326,
  900: #ffcb19,
  A100: #ffffff,
  A200: #fffffd,
  A400: #fff2ca,
  A700: #ffecb1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$code-dark: (
  50: #e5e5e6,
  100: #bdbebf,
  200: #919395,
  300: #65686b,
  400: #44474b,
  500: #23272b,
  600: #1f2326,
  700: #1a1d20,
  800: #15171a,
  900: #0c0e10,
  A100: #568eff,
  A200: #236cff,
  A400: #0050ef,
  A700: #0047d5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
