:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.demos-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.demos-sidenav {
  width: 256px;
  .logo {
    margin: 8px 8px 0;
    > img {
      max-width: 100%;
    }
  }
}
// .demos-container {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   top: 64px;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

.demos-scrollbar {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #333;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #333;
  }
}

.demos-is-mobile .demos-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
.demos-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop demoss. */
  flex: 1;
}

.demos-is-mobile .demos-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
