<div class="demos-container" [class.demos-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="demos-sidenav-container">
    <mat-sidenav
      #snav
      class="demos-sidenav"
      [attr.role]="mobileQuery.matches ? 'dialog' : 'navigation'"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <figure class="logo">
        <img src="/images/CodeNDesign.svg" alt="Logo Code 'N Design" />
      </figure>
      <mat-nav-list>
        <h3 mat-subheader>Componentes</h3>
        <a
          mat-list-item
          routerLinkActive
          *ngFor="let cmd of docs.components() | async"
          [routerLink]="[cmd.route]"
          >{{ cmd.title }}</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav
      #dnav
      class="demo-sidenav"
      role="dialog"
      mode="over"
      position="end"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <router-outlet></router-outlet>
    </mat-sidenav>

    <mat-sidenav-content class="demos-container scrollbar" role="doc-example">
      <mat-toolbar>
        <button
          type="button"
          *ngIf="snav"
          mat-icon-button
          class="nav-toggler"
          [attr.aria-label]="
            snav.opened ? 'Fechar navegação' : 'Abrir navegação'
          "
          (click)="snav.toggle()"
        >
          <i class="material-icons" aria-label="Alterna icone da navegação">{{
            snav.opened ? 'menu_open' : 'menu'
          }}</i>
        </button>

        <span class="spacer"></span>

        <button
          type="button"
          *ngIf="dnav"
          color="accent"
          mat-flat-button
          class="nav-toggler"
          [attr.aria-label]="dnav.opened ? 'Fechar demo' : 'Abrir demo'"
          (click)="dnav.toggle()"
        >
          <i class="material-icons" aria-label="Alterna icone da demo">
            arrow_back
          </i>
          Ver demonstração
        </button>
      </mat-toolbar>

      <scully-content></scully-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
