/*
 * Remove template code below
 */
:host {
  display: block;
  max-width: 100vw;
  margin: 0 auto;
}

.mat-toolbar h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-style: italic;
}

main {
  display: flex;
  > nav {
    width: 260px;
    margin-right: 20px;
  }
  > section {
    flex: 1;
    margin-left: 20px;
  }
}
