<!-- <header class="flex">
  <img
    alt="Nx logo"
    width="75"
    src="https://nx.dev/assets/images/nx-logo-white.svg"
  />
  <h1>Welcome to {{ title }}!</h1>
</header> -->
<mat-toolbar color="primary">
  <h1 class="mat-h1">Welcome to {{ title }}!</h1>

  <span class="spacer"></span>

  <a
    *ngFor="let top of topLevel$ | async"
    color="accent"
    mat-stroked-button
    [routerLink]="[top.route]"
    >{{ top.title }}</a
  >
  <a mat-stroked-button color="accent" [routerLink]="['/demos']">Demos</a>

  <a mat-stroked-button color="accent" [routerLink]="['/docs']">Docs</a>

  <button type="button" mat-icon-button [cndPopoverOpen]="pop">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<ng-template #pop>
  <button mat-stroked-button>Login</button>
  <!-- <form [formGroup]="form">
    <cnd-field label="Nome" formControlName="name"></cnd-field>
  </form> -->
</ng-template>

<router-outlet></router-outlet>

<!-- <h1>Table</h1>
<cnd-table
  class="cnd-table-hover"
  [columns]="displayedColumns"
  [dataSource]="dataSource"
>

  <ng-container cndColumnDef="position">
    <cnd-header-cell *cndHeaderCellDef> No. </cnd-header-cell>
    <cnd-cell *cndCellDef="let element"> {{ element.position }} </cnd-cell>
  </ng-container>


  <ng-container cndColumnDef="name">
    <cnd-header-cell *cndHeaderCellDef> Name </cnd-header-cell>
    <cnd-cell *cndCellDef="let element"> {{ element.name }} </cnd-cell>
  </ng-container>


  <ng-container cndColumnDef="weight">
    <cnd-header-cell *cndHeaderCellDef> Weight </cnd-header-cell>
    <cnd-cell *cndCellDef="let element"> {{ element.weight }} </cnd-cell>
  </ng-container>


  <ng-container cndColumnDef="symbol">
    <cnd-header-cell *cndHeaderCellDef> Symbol </cnd-header-cell>
    <cnd-cell *cndCellDef="let element"> {{ element.symbol }} </cnd-cell>
  </ng-container>

</cnd-table>

<main>
  <form [formGroup]="form">
    <mat-card>
      <cnd-field label="Nome" formControlName="name"></cnd-field>

      <cnd-text-field label="Nome" formControlName="message"></cnd-text-field>
    </mat-card>
  </form>

  <mat-card>
    <cnd-accordion>
      <cnd-accordion-panel *ngFor="let panel of panels">
        <cnd-accordion-header>
          <h3>Header {{ panel }}</h3>
        </cnd-accordion-header>
        <div>Panel {{ panel }}</div>
      </cnd-accordion-panel>
    </cnd-accordion>
  </mat-card>
</main> -->
