<mat-toolbar color="primary">
  <h1 class="mat-h1">{{ title }}!</h1>

  <span role="separator" class="spacer"></span>

  <a
    mat-stroked-button
    color="accent"
    href="https://codendesign-storybook.web.app"
    target="_blank"
    rel="external"
    >Storybook</a
  >

  <button type="button" mat-icon-button [cndPopoverOpen]="pop">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<ng-template #pop>
  <button mat-stroked-button>Login</button>
</ng-template>

<main role="main">
  <div
    role="contentinfo"
    class="docs-container"
    [class.docs-is-mobile]="mobileQuery.matches"
  >
    <mat-sidenav-container class="docs-sidenav-container">
      <mat-sidenav
        #snav
        class="docs-sidenav"
        [attr.role]="mobileQuery.matches ? 'dialog' : 'navigation'"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [opened]="!mobileQuery.matches"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56"
      >
        <figure class="logo">
          <img src="/images/CodeNDesign.svg" alt="Logo Code 'N Design" />
        </figure>
        <mat-nav-list>
          <h3 mat-subheader>Componentes</h3>
          <a
            mat-list-item
            routerLinkActive
            *ngFor="let cmd of docs.components() | async"
            [routerLink]="[cmd.route]"
            >{{ cmd.title }}</a
          >
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content class="docs-container scrollbar" role="doc-example">
        <button
          type="button"
          *ngIf="snav"
          mat-icon-button
          class="nav-toggler"
          [attr.aria-label]="
            snav.opened ? 'Fechar navegação' : 'Abrir navegação'
          "
          (click)="snav.toggle()"
        >
          <i class="material-icons" aria-label="Alterna icone da navegação">{{
            snav.opened ? 'menu_open' : 'menu'
          }}</i>
        </button>

        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</main>
