<cnd-table
  class="cnd-table-hover"
  [columns]="displayedColumns"
  [dataSource]="dataSource"
>

  <ng-container cndColumnDef="position">
    <cnd-header-cell *cndHeaderCellDef> No. </cnd-header-cell>
    <cnd-cell *cndCellDef="let element"> {{ element.position }} </cnd-cell>
  </ng-container>


  <ng-container cndColumnDef="name">
    <cnd-header-cell *cndHeaderCellDef> Name </cnd-header-cell>
    <cnd-cell *cndCellDef="let element"> {{ element.name }} </cnd-cell>
  </ng-container>


  <ng-container cndColumnDef="weight">
    <cnd-header-cell *cndHeaderCellDef> Weight </cnd-header-cell>
    <cnd-cell *cndCellDef="let element"> {{ element.weight }} </cnd-cell>
  </ng-container>


  <ng-container cndColumnDef="symbol">
    <cnd-header-cell *cndHeaderCellDef> Symbol </cnd-header-cell>
    <cnd-cell *cndCellDef="let element"> {{ element.symbol }} </cnd-cell>
  </ng-container>

</cnd-table>
