@import '~@angular/material/theming';
@import '~@angular/cdk/overlay-prebuilt.css';


@include mat-core();

@import 'design/scss/highlight/a11y-light.scss';
@import 'design/scss/palettes/codendesign.scss';
@import 'upload/upload.theme.scss';

$demo-primary: mat-palette($code);
$demo-accent: mat-palette($design);
$demo-warn: mat-palette($mat-red);
$demo-theme: mat-light-theme($demo-primary, $demo-accent, $demo-warn);

@include angular-material-theme($demo-theme);

@include cnd-upload-theme($demo-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}
